Source: drvfgpdb
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/drvfgpdb.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/drvfgpdb.git

Package: drvfgpdb-dev
Section: libdevel
Architecture: any
Depends: drvfgpdbBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: drvfgpdbBROKEN
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
